body{
    display: flex;
    flex-direction: column;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: overlay;
}

header{
    position: relative;
}

@media only screen and (min-width: 1024px) { /* desktop */

    header{
        width: 100%;
        height: 17.5%;
    }
    #headerBookImg{
        padding: 0;
        position: absolute;
        width: 7.5%;
        height: auto;
        top: 50%;
        left: 10%;
        transform: translate(-90%,-50%);
    }
    #navHome, 
    #navContactUs,
    #navAbout{
        left: 50%;
        top: 70%;
        transform: translate(-50%,-30%);
    }
    #navHome{
        left: 30%;
        transform: translatex(-50%);
    }
    #navContactUs{
        left: 50%;
        transform: translatex(-50%);
    }
    #navAbout{
        left: 70%;
        transform: translatex(-70%);
    }
    .navBarheader{
        text-align: center;
    }
    .navBarheader ul{
        padding: 10px;
        margin: 0;
        display: flex;
        justify-content: center;

    }
    .navBarheader li{
        margin: 0 10px;
    }

    .navBarheader a{
        text-decoration: none;
    }

    #indexMainContent{
        display: flex;
        position: relative;
        height: 100%;
        overflow-x: hidden;
    }

    #payMainContent{
        position: relative;
        height: 100%;
        overflow-x: hidden;
    }

    #successMainContent{
        position: relative;
        height: 100%;
        overflow-x: hidden;
    }
    
    #leftView{
        flex: 1;
        margin-left: 1%;
        top: 0;
        left: 0;
        position: absolute;
        width: 50vw;
        height: auto;
        order: 1;
        box-sizing: border-box;
    }
    
    #rightView{
        flex: 1;
        margin-left: 1%;
        top: 0;
        right: 0;
        position: absolute;
        width: 50vw;
        height: auto;
        order: 2;
        box-sizing: border-box;
    }

    #book1CoverImg,
    #book2CoverImg,
    #book3CoverImg,
    #book4CoverImg{
        width: 25%;
        height: 35vh;
        margin-right: 2%;
    }

    #book1Container,
    #book2Container,
    #book3Container,
    #book4Container{   
        width: 85%;
        height: auto;
        padding: 2%;
        position: relative
    }

    #book1Container h2,
    #book2Container h2,
    #book3Container h2,
    #book4Container h2,
    #book1Container h5,
    #book2Container h5,
    #book3Container h5,
    #book4Container h5,
    #book1Container p,
    #book2Container p,
    #book3Container p,
    #book4Container p {
        position: absolute;
        margin-left: 3%;
        left: 25%;
        top: 0;
        word-wrap: break-word;
    }

    #book1Container h2,
    #book2Container h2,
    #book3Container h2,
    #book4Container h2 {
        top: 5%;
    }

    #book1Container h5,
    #book2Container h5,
    #book3Container h5,
    #book4Container h5 {
        top: 15%;
    }

    #book1Container p,
    #book2Container p,
    #book3Container p,
    #book4Container p {
        top: 25%;
    }

    .paymentBtn{
        position: absolute;
        margin-top: auto;
        align-self: flex-start;
        left: 60%;
        bottom: 15%;
        transform: translateY(85%);
    }

    #cardNumberInput,
    #month,
    #year,
    #CVVInput,
    label,
    #submit{
        position: relative;
        font-size: 20px;
        top: 10%;
        left: 10%;
    }
}

@media only screen and (max-width: 1023px) { /* tablets */
    header{
        width: 100%;
        height: 30%;
    }
    #headerBookImg{
        padding: 0;
        position: absolute;
        width: 15%;
        top: 50%;
        left: 20%;
        transform: translate(-80%,-50%);
        height: auto;
    }
    .navBarheader{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navHome, 
    #navContactUs,
    #navAbout{
        top: 100%;
        left: 50%;
        padding: 10px;
        transform: translate(-50%,+70%);
    }
    #navHome{
        top: 30%;
    }
    #navContactUs{
        top: 50%;
    }
    #navAbout{
        top: 70%
    }

    #indexMainContent{
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100vh;
        overflow-x: hidden;
        align-items: center;
    }

    #payMainContent{
        position: relative;
        height: 100vh;
        overflow-x: hidden;
    }

    #successMainContent{
        position: relative;
        height: 100vh;
        overflow-x: hidden;
    }
    
    #leftView{
        flex: 1;
        top: 0;
        left: 0;
        position: relative;
        width: 100%;
        height: fit-content;
        
        order: 1;
        box-sizing: border-box;
    }
    
    #rightView{
        flex: 1;
        left: 0;
        position: relative;
        margin-top: 0.5px;
        width: 100%;
        height: fit-content;
        order: 2; 
        box-sizing: border-box;
    }

    #book1CoverImg,
    #book2CoverImg,
    #book3CoverImg,
    #book4CoverImg{
        width: 50%;
        height: auto;
        margin-right: 2%;
    }

    #book1Container,
    #book2Container,
    #book3Container,
    #book4Container{   
        width: 95%;
        height: auto;
        padding: 2%;
        position: relative
    }

    #book1Container h2,
    #book2Container h2,
    #book3Container h2,
    #book4Container h2,
    #book1Container h5,
    #book2Container h5,
    #book3Container h5,
    #book4Container h5,
    #book1Container p,
    #book2Container p,
    #book3Container p,
    #book4Container p {
        position: absolute;
        margin-left: 3%;
        left: 50%;
        top: 0;
        word-wrap: break-word;
    }

    #book1Container h2,
    #book2Container h2,
    #book3Container h2,
    #book4Container h2 {
        top: 5%;
    }

    #book1Container h5,
    #book2Container h5,
    #book3Container h5,
    #book4Container h5 {
        top: 15%;
    }

    #book1Container p,
    #book2Container p,
    #book3Container p,
    #book4Container p {
        top: 25%;
    }

    .paymentBtn{
        position: absolute;
        margin-top: auto;
        align-self: flex-start;
        left: 70%;
        bottom: 15%;
        transform: translateY(85%);
    }
    #cardNumberInput,
    #month,
    #year,
    #CVVInput,
    label,
    #submit{
        position: relative;
        font-size: 15px;
        top: 10%;
        left: 10%;
    }
    label{
        font-size: 13px;
    }

    #paymentTypeTitle{
        font-size: 15px;
    }
    #additionalText{
        font-size: 10px;
    }

}

#headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: azure;
    background: 2px solid black;
    width: 100vw;
    height: 30px;
    justify-content: space-between;
}

#headerTitle{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%,-20%);
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

.navBarheader{
    border-left: 0px;
    top: 0vh;
    width: 100%;
    height: 30%;
}

#navHome, 
#navContactUs,
#navAbout{
    text-align: center;
    padding: 10px;
    position: absolute;
}

#navHome :hover, 
#navContactUs :hover,
#navAbout :hover{
    background-color: black;
    color: white;
    padding: 10px;
}

#paymentTitle{
    margin-left: 2%;
}

#paymentTypeTitle{
    position: absolute;
    margin-left: 30%;
    width: 100vw;
}
#additionalText{
    margin-left: 10%;
}

#paymentImg{
    position: absolute;
    transform: translate(-0%,-15%); 
    width: 10%;
}

#paymentFormInputContainer{
    display: flex;
    position: absolute;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 15px;
    width: 50%;
    height: 30%;
    align-items: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-60%);
}

#paymentSuccessTitle{
    margin-left: 2%;
}

#submit{
    background-color: #ff0000;
}


.paymentBtn{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgrey;
    text-decoration: none;
    color: black;
}



ul { /*Remove default bullet points and margin from unordered list in nav bar*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li a{ /*makes colour of the text black on links*/
    text-decoration: none;
    color: black;
    flex-grow: 1;
}

ul li a:hover{ /*makes colour of the text black on links if hover*/
    color: black;
}

ul li a:active{ /*makes colour of the text black on links if clicked*/
    color: black;
}


